:root {
    --footer-header-color: #874B2D;
    --main-section-color: #AB5F39;
    --dialog-color: ;
    --comment-section-color: ;
    --copyright-color: ;
    --h1-font-color: ;
    --h2-font-color: ;
    --h3-font-color: ;
    --main-font-color: #292929;
}