:root {
    --footer-header-color: ;
    --main-section-color: ;
    --dialog-color: ;
    --comment-section-color: ;
    --copyright-color: ;
    --h1-font-color: ;
    --h2-font-color: ;
    --h3-font-color: ;
    --main-font-color: ;
}